/project/build/
/project/dist/
/project/nbproject/private/
/netbeanProject/build/
/netbeanProject/dist/
/netbeanProject/nbproject/private/
netbeanProject/nbproject/private/private.properties
netbeanProject/nbproject/private/private.properties
*.log
*.properties
*.odb
netbeanProject/src/MusicRoom/database/booking.odb
*.odb
netbeanProject/src/MusicRoom/database/user.odb
netbeanProject/src/MusicRoom/database/user.odb
netbeanProject/src/MusicRoom/database/booking.odb$
netbeanProject/src/MusicRoom/database/booking.odb
netbeanProject/src/MusicRoom/database/booking.odb
*.log
netbeanProject/src/MusicRoom/database/user.odb
