
.background {
    -fx-background-image: url("img/background.jpg");
    -fx-background-size: 1366 768;
}

.button {
    -fx-background-color: rgba(255, 43, 0, 1);
}

.check-box .box {

	-fx-background-color: #ffccb3;

}

#customize_myRoom{
    -fx-background-image: url("img/emptyRoom.jpg");
}