@font-face {
    src: url("Cloud-Bold.otf");
}

.root{
    -fx-font-family: 'Cloud';
}

.text {
    -fx-font-family: 'Cloud';
}

.background {
    -fx-background-image: url("img/background.jpg");
    -fx-background-size: cover;
}

.button {
    -fx-background-color: rgba(255, 43, 0, 1);
}

.button:hover {
    -fx-background-color: rgba(255, 143, 100, 1);
}

// For Calendar Only
.calendar-cell, .warning { 
    // Add 'warning' when nears full 
    -fx-background-color: rgb(255,255,0);
    -fx-text-fill: rgb(0,0,0);
}

.calendar-cell, .danger { 
    // Add 'full' when full 
    -fx-background-color: rgb(255,0,0);
    -fx-text-fill: rgb(255,255,255);
}

.button, .avaliable { 
    // Add 'avalible' in button in time select if it avaliable 
    -fx-background-color: rgb(255,255,255);
    -fx-text-fill: rgb(0,0,0);
}

.button, .full { 
    // Add 'full' in button in time select if it full
    -fx-background-color: rgb(255,0,0);
    -fx-text-fill: rgb(255,255,255);
}

.button:pressed {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-text-fill: rgba(0 ,0 ,0 , 1);
}


.check-box .box {
    -fx-background-color: #fff0e6;
}

#customize_myRoom{
    -fx-background-image: url("img/emptyRoom.jpg");
}