.root{
    -fx-font-family: "Cloud";
}


.background {
    -fx-background-image: url("background.jpg");
	-fx-background-size: 1366 768;
}

.button {
    -fx-background-color: rgba(255, 43, 0, 1)
    -fx-font-family: "Cloud";
}